*
{
  padding: 0;
  margin: 0;
}
body
{
  background-image: url("https://cdn.discordapp.com/attachments/800255202535014420/806036822051258458/Screenshot_2021-02-02_at_14.42.11.png");
  background-size: cover;
  background-position: center;
}
